p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.item {
    border: solid grey 2px;
    width: 150px;
    height: 150px;
    margin: 5px;
}

.main {
    display: flex;
    justify-content: center;
}

.item-clear {
    border: solid transparent 2px;
    width: 150px;
    height: 150px;
    margin: 5px;
}